{{ define "main" }}

{{ partial "header" . }}

{{ with site.Params.author_block }}
<section class="author-block text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- image path -->
        {{ $imagePath:= .image }}
        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        <img loading="lazy" class="img-fluid rounded-circle mb-5" decoding="async" class="img-fluid w-100"
          src="{{$image.RelPermalink}}" alt="post image" width="{{$image.Width}}" height="{{$image.Height}}">
        {{ end }}
        {{with .title}}<h3 class="text-uppercase font-secondary mb-4">{{.|markdownify}}</h3>{{end}}
        {{with .content}}<em class="d-block">{{.|markdownify}}</em>{{end}}
      </div>
    </div>
  </div>
</section>
{{end}}


<section>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">
        {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) }}

        {{ range $paginator.Pages }}
        <article class="card post-card">
          <div class="row no-gutters justify-content-center">
            <div class="col-lg-12">

              <!-- image path -->
              {{ $imagePath:= .Params.image }}
              <!-- image CDN -->
              {{ if hasPrefix $imagePath "http" }}
              <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
                class="img-fluid w-100">
              {{ else }}
              <!-- /image cdn -->

              <!-- image processing for multiple device -->
              {{ if fileExists (add `assets/` $imagePath) }}
              {{ $image:= resources.Get $imagePath }}
              {{ $imageFallback:= $image.Resize "1110x" }}
              {{ $imageXL:= $image.Resize "1110x webp" }}
              {{ $imageLG:= $image.Resize "650x webp" }}
              {{ $imageMD:= $image.Resize "600x webp" }}
              {{ $imageSM:= $image.Resize "545x webp" }}
              <picture>
                <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
                <source srcset="{{ $imageXL.RelPermalink }}">
                <a href="{{.RelPermalink}}">
                  <img loading="lazy" decoding="async" class="img-fluid w-100" src="{{$imageFallback.RelPermalink}}"
                    alt="post image" width="{{$image.Width}}" height="{{$image.Height}}">
                </a>
              </picture>
              {{ end }}
              <!-- /image processing for multiple device -->
              {{ end }}
              <!-- /single image -->
            </div>
            <div class="col-lg-9">
              <div class="card-body mt-5">
                <div class="text-center mb-5">
                  <div class="card-meta-tag {{if .Params.featured}}featured{{end}}">
                    {{ range .Params.categories }}
                    <a href="{{`categories` | relURL}}/{{. | urlize | lower}}">{{ . }}</a>
                    {{ end }}
                  </div>
                  <h2 class="h1 mb-3">
                    <a class="post-title" href="{{.RelPermalink}}">{{.Title}}</a>
                  </h2>

                  <div class="card-meta">
                    <em>{{.PublishDate.Format "Jan 2, 2006"}}</em>
                    <em>by <a href="{{`/about`}}" class="card-meta-author text-primary">{{site.Params.author}}</a></em>
                  </div>

                </div>
                <div class="content">{{.Summary}}</div>
                <div class="text-center">
                  <a class="text-primary d-inline-block mt-4" href="{{.RelPermalink}}">Continuar Leyendo <i
                      class="fas fa-arrow-right"></i>
                  </a>

                  {{ $url := printf "%s" .Permalink | absLangURL }}
                  <ul class="social-links is-circle-filled list-unstyled list-inline mt-5">
                    <li class="list-inline-item">
                      <a href="https://facebook.com/sharer/sharer.php?u={{ $url }}" target="_blank" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ $url }}" target="_blank"
                        class="twitter">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.pinterest.com/pin/?text={{ .Title }}&amp;url={{ $url }}" target="_blank"
                        class="pinterest">
                        <i class="fab fa-pinterest"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>


    <div class="section pt-0">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="row text">
            {{ $paginator := .Paginator }}
            <!-- Number of links either side of the current page. -->
            {{ $adjacent_links := 2 }}

            <!-- $max_links = ($adjacent_links * 2) + 1 -->
            {{ $max_links := (add (mul $adjacent_links 2) 1) }}

            <!-- $lower_limit = $adjacent_links + 1 -->
            {{ $lower_limit := (add $adjacent_links 1) }}

            <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
            {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

            <!-- If there's more than one page. -->
            {{ if gt $paginator.TotalPages 1 }}

            <!-- Previous page. -->
            {{ if .Paginator.HasPrev }}
            <div class="col-sm-6 text-center text-sm-left">
              <a class="btn btn-dark" href="{{ .Paginator.Prev.URL }}"><i class=""></i> Prev </a>
            </div>
            {{ else }}
            <div class="col-sm-6 text-center text-sm-left">
              <a class="btn btn-dark btn-disabled"><i class=""></i> Prev </a>
            </div>
            {{end}}

            <!-- Page numbers. -->
            {{ range $paginator.Pagers }}
            {{ $.Scratch.Set "page_number_flag" false }}
            <!-- Advanced page numbers. -->
            {{ if gt $paginator.TotalPages $max_links }}

            <!-- Lower limit pages. -->
            <!-- If the user is on a page which is in the lower limit.  -->
            {{ if le $paginator.PageNumber $lower_limit }}

            <!-- If the current loop page is less than max_links. -->
            {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

            <!-- Upper limit pages. -->
            <!-- If the user is on a page which is in the upper limit. -->
            {{ else if ge $paginator.PageNumber $upper_limit }}

            <!-- If the current loop page is greater than total pages minus $max_links -->
            {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

            <!-- Middle pages. -->
            {{ else }}

            {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

            {{ end }}

            <!-- Simple page numbers. -->
            {{ else }}

            {{ $.Scratch.Set "page_number_flag" true }}

            {{ end }}
            {{ end }}

            <!-- Next page. -->
            {{ if $paginator.HasNext }}
            <div class="col-sm-6 text-center text-sm-right">
              <a class="btn btn-dark" href="{{ .Paginator.Next.URL }}"><i class=""></i> Next </a>
            </div>
            {{ end }}
            {{ end }}
            <!-- .pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}